In [4]:

data=[10,20,30,40,50]
series=pd.Series(data)
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [6]:
a=[1,7,2]
myvar=pd.Series(a,index=["x","y","z"])
print(myvar)

x    1
y    7
z    2
dtype: int64

In [7]:
gt=series>25
print("series>25= \n",gt)

series>25=
 0    False
1    False
2     True
3     True
4     True
dtype: bool

In [8]:
seriess=series*2
print("\nSeries after scalar multiplication:\n",seriess)

Series after scalar multiplication:
 0     20
1     40
2     60
3     80
4    100
dtype: int64

In [11]:
import pandas as pd
data={
    "calories":[420,380,390],
    "duration":[50,40,45]
}
df=pd.DataFrame(data)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [15]:
data={'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2003, 2004, 2005],
'pop': [1.5, 1.7 ,3.6 ,2.4 ,2.9, 3.2]}
frame = pd.DataFrame(data)
print(frame)

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2003  2.4
4  Nevada  2004  2.9
5  Nevada  2005  3.2

In [16]:
frame=pd.DataFrame(data, columns=['year', 'state', 'pop'])
print(frame)

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2003  Nevada  2.4
4  2004  Nevada  2.9
5  2005  Nevada  3.2

In [23]:
frame2= pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'], index=['one','two','three','four','five','six'])
print(frame2)

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2003  Nevada  2.4  NaN
five   2004  Nevada  2.9  NaN
six    2005  Nevada  3.2  NaN

In [24]:
print(frame2['year'])
print("\n",frame2['state'])

one      2000
two      2001
three    2002
four     2003
five     2004
six      2005
Name: year, dtype: int64

 one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
six      Nevada
Name: state, dtype: object

In [25]:
print(frame2.loc['one'])

year     2000
state    Ohio
pop       1.5
debt      NaN
Name: one, dtype: object

In [26]:
frame2['dept']=12.4
print(frame2)

       year   state  pop debt  dept
one    2000    Ohio  1.5  NaN  12.4
two    2001    Ohio  1.7  NaN  12.4
three  2002    Ohio  3.6  NaN  12.4
four   2003  Nevada  2.4  NaN  12.4
five   2004  Nevada  2.9  NaN  12.4
six    2005  Nevada  3.2  NaN  12.4

In [27]:
import numpy as np
frame2['dept']=np.arange(6.)
print(frame2)

       year   state  pop debt  dept
one    2000    Ohio  1.5  NaN   0.0
two    2001    Ohio  1.7  NaN   1.0
three  2002    Ohio  3.6  NaN   2.0
four   2003  Nevada  2.4  NaN   3.0
five   2004  Nevada  2.9  NaN   4.0
six    2005  Nevada  3.2  NaN   5.0

In [31]:
frame2['eastern']= frame2.state=='ohio'
print(frame2)

       year   state  pop debt  dept  easter  eastern
one    2000    Ohio  1.5  NaN   0.0   False    False
two    2001    Ohio  1.7  NaN   1.0   False    False
three  2002    Ohio  3.6  NaN   2.0   False    False
four   2003  Nevada  2.4  NaN   3.0   False    False
five   2004  Nevada  2.9  NaN   4.0   False    False
six    2005  Nevada  3.2  NaN   5.0   False    False

In [32]:
print(frame2.T)

           one    two  three    four    five     six
year      2000   2001   2002    2003    2004    2005
state     Ohio   Ohio   Ohio  Nevada  Nevada  Nevada
pop        1.5    1.7    3.6     2.4     2.9     3.2
debt       NaN    NaN    NaN     NaN     NaN     NaN
dept       0.0    1.0    2.0     3.0     4.0     5.0
easter   False  False  False   False   False   False
eastern  False  False  False   False   False   False

In [33]:
obj=pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
print(obj)

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [35]:
obj3=pd.Series(['blue','purple','yellow'],index=[0, 2, 4])
print(obj3)

0      blue
2    purple
4    yellow
dtype: object

In [36]:
obj3=pd.Series(['blue','purple','yellow'],index=[0, 2, 4])
obj4=obj3.reindex(range(6),method='ffill')
print("Method 'ffill':")
print(obj4)

Method 'ffill':
0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [37]:
obj=pd.Series(np.arange(5.),index=['a','b','c','d','e'])
new_obj=obj.drop('c')
print(new_obj)
obj.drop(['d','c'])

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

a    0.0
b    1.0
e    4.0
dtype: float64

In [38]:
# series indexing

obj = pd.Series(np.arange(4.), index=['a', 'b', 'c', 'd'])

print("obj['b']= \n", obj['b'])

print("obj[1]= \n", obj[1])

print("obj[2:4]= \n", obj[2:4])

print("obj[['b', 'a', 'd']]= \n", obj[['b', 'a', 'd']])

print("obj['b':'d']= \n", obj['b':'d'])  # no n-1 concept

print("obj[[1, 3]]= \n", obj[[1, 3]])

print("obj[obj < 2]= \n", obj[obj < 2])

obj['b']=
 1.0
obj[1]=
 1.0
obj[2:4]=
 c    2.0
d    3.0
dtype: float64
obj[['b', 'a', 'd']]=
 b    1.0
a    0.0
d    3.0
dtype: float64
obj['b':'d']=
 b    1.0
c    2.0
d    3.0
dtype: float64
obj[[1, 3]]=
 b    1.0
d    3.0
dtype: float64
obj[obj < 2]=
 a    0.0
b    1.0
dtype: float64

C:\Users\sujit\AppData\Local\Temp\ipykernel_7656\4160956635.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("obj[1]= \n", obj[1])
C:\Users\sujit\AppData\Local\Temp\ipykernel_7656\4160956635.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("obj[[1, 3]]= \n", obj[[1, 3]])